<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div layout="row">
       <label>type:
          <button mat-button>Click me!</button>
           <!--    <button mat-raised-button (click)="onClickMe('Fire')">Fire</button>
           <button (click)="onClickMe('Earth')">Earth</button>
             <button (click)="onClickMe('Air')">Air</button>
             <button (click)="onClickMe('Water')">Water</button>
             <button (click)="onClickMe('Quantum')">Quantum</button>
             <button (click)="onClickMe('Shame')">Shame</button>
             <button (click)="onClickMe('Chaos')">Chaos</button> -->
       </label>
    </div>
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
    </div>
  
  </div>